<h2>新規会員登録</h2>

<%= link_to 'ゲストログイン（閲覧用）はこちら', users_guest_sign_in_path, method: :post %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"メールアドレスを入力してください" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder:"パスワードを入力してください" %><br />
    <% if @minimum_password_length %>
    <%= @minimum_password_length %> 文字以上を入力してください
    <% end %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"確認のため、もう一度ご入力ください" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録する" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
