<!--投稿一覧パーシャル-->
<table class="table table-hover">
  <head>
    <tr>
      <th></th>
      <th>タイトル</th>       
      <th>内容</th>
      <th>いいね</th>
      <th>コメント</th>
    </tr>
  </head>
  <body>
    <% tweets.each do |tweet| %>
      <tr>
        <td>
          <%= attachment_image_tag tweet.user, :profile_image, size: "50x50", format: "jpeg", fallback: "no_image.jpg" %>
          <%= link_to tweet.user.name, user_path(tweet.user_id)%></td>
        <td>
          <%= link_to tweet.title, tweet_path(tweet) %>
        </td>
        <td>
          <%= tweet.body %>
        </td>
        <td class="favorite-btn">
          <%= render "favorites/favorite_btn", tweet: tweet %>
        </td>
        <td class="comment-sum">
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
          <%= tweet.comments.count %> 件
        </td>
      </tr>
    <% end %>
  </body>
</table>
<div class="text-center">
  <%= paginate tweets %>
</div>
