<%= form_with model: tweet, url:'/tweets', local:true do |f| %>
  <div class="field row">
    <%= f.label "タイトル" %>
    <%= f.text_area :title, class:"col-xs-12 tweet_title", rows: "2", autofocus: "true", placeholder: "タイトルを入力しましょう" %>
  </div>
  <div class="field row">
    <%= f.label "投稿内容" %>
    <%= f.text_area :body, class:"col-xs-12 tweet_body", rows: "10", placeholder: "頑張ったこと、気付きなど思いつくままに書いてみましょう" %>
  </div>
  <div class="actions row">
    <%= f.submit "投稿する", class:"col-xs-12 btn btn-success" %>
  </div>
<% end %>