<!--投稿一覧パーシャル-->
<table>
  <head>
    <tr>
      <th></th>
      <th>タイトル</th>       
      <th>内容</th>
      <th>いいね</th>
      <th>コメント</th>
    </tr>
  </head>
  <body>
    <% tweets.each do |tweet| %>
      <tr>
        <td>
          <%= attachment_image_tag tweet.user, :profile_image_id, size: "50x50", format: "jpeg", fallback: "no_image.jpg" %>
          <%= link_to tweet.user.name, user_path(tweet.user_id)%></td>
        <td>
          <%= link_to tweet.title, tweet_path(tweet) %>
        </td>
        <td>
          <%= tweet.body %>
        </td>
        <td></td>
        <td>
          <ul>
            <li>By
              <%= tweet.user.name %>
            </li>
            <li>コメント数
              <%= tweet.comments.count %>
            </li>
          </ul>
        </td>
      </tr>
    <% end %>
  </body>
</table>