<!--投稿一覧パーシャル-->
<% tweets.each do |tweet| %>
  <div class="tweet-box">
    <div class="tweet-box-profile">
      <%= attachment_image_tag tweet.user, :profile_image, size: "50x50", format: "jpeg", fallback: "no_image.jpg" %>
      <%= link_to tweet.user.name, user_path(tweet.user_id)%></td>
    </div>
    <div class="tweet-box-content">
      <div class="tweet-box-title"> <%= link_to tweet.title, tweet_path(tweet) %></div>
      <div class="tweet-box-body"><%= tweet.body %></div>
    </div>
    <div class="tweet-box-reaction">
      <div class="sentiment-score <% if tweet.score > 0 %> sentiment-color-green <% else %> sentiment-color-red <% end %>">
        この時の感情スコア： [<%= tweet.score %>]
      </div>
      <div> <%= l tweet.created_at %></div>
      <div id="favorites_buttons_<%= tweet.id %>">
        <%= render "favorites/favorite_btn", tweet: tweet %>
      </div>
      <div class="comment-sum">
        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        <%= tweet.comments.count %>
      </div>
    </div>
  </div>
<% end %>

<div class="text-center">
  <%= paginate tweets %>
</div>

