<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h2>投稿内容編集</h2>
      <%= form_with model: @tweet, local:true do |f| %>
        <div class="field row">
          <%= f.label "タイトル" %>
          <%= f.text_field :title, class:"col-xs-12 tweet_title" %>
        </div>
        <div class="field row">
          <%= f.label "投稿内容" %>
          <%= f.text_area :body, class:"col-xs-12 tweet_body" %>
        </div>
        <div class="actions row">
          <%= f.submit "編集内容を保存する", class:"btn btn-success col-xs-12" %>
        </div>
      <% end %>
    <%= link_to "戻る", tweets_path %>
  </div>
</div>
