<div class="row">
  <div class="col-xs-3">
    <h3 class="titlebar"> 投稿する</h3>
      <%= render 'tweets/tweet_form', tweet: @tweet_new %>
    <h3 class="titlebar"> Profile</h3>
      <%= render "users/profile", user: @user %>
  </div>
  <div class="col-xs-9">
    <h3 class="titlebar"> 投稿</h3>
      <div class="tweet-box">
        <div class="tweet-box-profile">
          <%= link_to user_path(@tweet.user) do %>
          <%= attachment_image_tag @tweet.user, :profile_image, size: "50x50", format: "jpeg", fallback: "no_image.jpg" %>
          <%= @tweet.user.name %>
          <% end %>
        </div>
        <div class="tweet-box-content">
          <div class="tweet-box-title"><%= @tweet.title %></div>
          <div class="tweet-box-body"><%= @tweet.body %></div>
        </div>
        <div class="tweet-box-reaction">
          <div>
            <% @tweet.tags.each do |tag| %>
              <span class="badge"><%= tag.name %></span>
            <% end %>
          </div>
          <div class="sentiment-score <% if @tweet.score > 0 %> sentiment-color-green <% else %> sentiment-color-red <% end %>">
            AIの感情分析： [<%= @tweet.score %>]
          </div>
          <div> <%= l @tweet.created_at %></div>
          <div id="favorites_buttons_<%= @tweet.id %>">
            <%= render "favorites/favorite_btn", tweet: @tweet %>
          </div>
          <div class="glyphicon glyphicon-list-alt"><%= @tweet.comments.count %></div>
          <div>
            <% if @tweet.user == current_user %>
              <%= link_to "編集", edit_tweet_path(@tweet), class:"btn-sm btn-info" %>
              <%= link_to "削除", tweet_path(@tweet), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn-sm btn-danger" %>
            <% end %>
          </div>
        </div>
      </div>
      
      <!--コメント一覧パーシャル-->
      <div id="comments_area">
      <h3 class="titlebar"> みんなの反応</h3>
        <%= render "comments/comment_list", comments: @comments %>

      </div>
      
      <!--コメント投稿フォームパーシャル-->
      <h3 class="titlebar"> コメントする</h3>
      <%= render "comments/comment_form", {tweet: @tweet, comment: @comment} %>
  </div>
</div>

