<div class="row">
  <div class="col-xs-3">
    <h2>新規投稿</h2>
      <%= render 'tweets/tweet_form', tweet: @tweet_new %>
    <h2>プロフィール</h2>
      <%= render "users/profile", user: @user %>
  </div>
  <div class="col-xs-9">
    <h2>投稿詳細</h2>
      <table>
        <head>
          <tr>
            <th></th>
            <th>タイトル</th>
            <th>内容</th>
            <th>いいね</th>
            <ht>コメント</ht>
          </tr>
        </head>
        <body>
          <tr>
            <td>
              <%= link_to user_path(@tweet.user) do %>
              <%= attachment_image_tag @tweet.user, :profile_image, size: "50x50", format: "jpeg", fallback: "no_image.jpg" %>
              <%= @tweet.user.name %>
              <% end %>
            </td>
            <td><%= @tweet.title %></td>
            <td><%= @tweet.body %></td>
            <td><%= render "favorites/favorite_btn", tweet: @tweet %></td>
            <td>コメント数<%= @tweet.comments.count %></td>
            <% if @tweet.user == current_user %>
              <td><%= link_to "編集", edit_tweet_path, class:"btn-sm btn-info" %></td>
              <td><%= link_to "削除", tweet_path, method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn-sm btn-danger" %></td>
            <% end %>
          </tr>
        </body>
      </table>
      <table>
        <% @comments.each do |comment| %>
          <% comment_user = comment.user %>
            <tr>
              <td>
                <%= link_to user_path(comment_user) do %>
                  <%= attachment_image_tag comment.user, :profile_image, size: "50x50", format: "jpeg",fallback: "no_image.jpg" %>
                  <%= comment.user.name %>
                <% end %>
              </td>
              <td>
                <%= comment.created_at.strftime('%Y/%m/%d') %>
              </td>
              <td>
                <%= comment.tweet_comment %>
              </td>
              <td>
                <% if comment.user == current_user %>
                  <%= link_to "削除", tweet_comment_path(comment.tweet, comment), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-danger" %>
                <% end %>
              </td>
            </tr>
        <% end %>
      </table>
      <%= paginate @comments %>
      
      <%= form_with(model:[@tweet, @comment], local: true) do |f| %>
        <div class="row">
          <div class="col-xs-12">
            <%= f.text_area :tweet_comment, placeholder: "コメントをここに" %>
          </div>
        </div>
        <%= f.submit "送信する",class:"btn btn-primary" %>
      <% end %>
  </div>
</div>

