<div class="profile-picture">
  <%= attachment_image_tag user, :profile_image, size: "100x100", format:"jpeg", fallback: "no_image.jpg",class:"img-circle" %>
</div>
<table class="table">
  <tr>
    <th>名前</th>
    <th><%= user.name %></th>
  </tr>
  <tr>
    <th>年齢</th>
    <th><%= user.age %></th>
  </tr>
  <tr>
    <th>仕事</th>
    <th><%= user.work %></th>
  </tr>
</table>
  <div class="introduction-area">
    <p class="profile-introduction">自己紹介</p>
    <%= user.introduction %>
  </div>

  <!--ゲストユーザーであれば非表示の条件設定-->
  <div>
    <% unless current_user.guest? %>
      <%= link_to "", edit_user_path(user), class:"btn btn-info btn-block glyphicon glyphicon-cog" %>
    <% end %>
  </div>