<div class="row">
  <div class="col-xs-6 col-xs-offset-3">
    <h3 class="titlebar"> プロフィール編集フォーム</h3>
      <%= form_with model: @user, local:true do |f| %>
        <div class="field row">
          <%= f.label "プロフィール画像" %>
          <%= attachment_image_tag @user, :profile_image, size: "100x100", format: "jpeg", fallback: "no_image.jpg" %>
        </div>
        <div>
          <%= f.attachment_field :profile_image, class:"user_image" %>
        </div>
        <div class="field row">
          <%= f.label "名前" %>
          <%= f.text_field :name, class:"col-xs-12 user_name" %>
        </div>
        <div class="field row">
          <%= f.label "メールアドレス" %>
          <%= f.email_field :email, class:"col-xs-12 user_email" %>
        </div>
        <div class="field row">
          <%= f.label "年齢" %>
          <%= f.text_field :age, class:"col-xs-12 user_ " %>
        </div>
        <div class="field row">
          <%= f.label "仕事" %>
          <%= f.text_field :work, class:"col-xs-12 user_ work" %>
        </div>
        <div class="field row">
          <%= f.label "自己紹介文" %>
          <%= f.text_field :introduction, class:"col-xs-12 user_introduction" %>
        </div>
        <div class="actions row">
          <%= f.submit "編集内容を保存する", class:"col-xs-12 btn btn-success col-xs-12" %>
        </div>
      <% end %>
    <%= link_to "退会する", out_users_path, class:"col-xs-12 btn btn-danger" %>
  </div>
</div>
