<div class="row">
  <div class="col-xs-3">
    <h3 class="titlebar"> 投稿する</h3>
      <%= render 'tweets/tweet_form', tweet: @tweet %>
    <h3 class="titlebar"> Profile</h3>
      <%= render "users/profile", user: @user %>
  </div>
  <div class="col-xs-9">
    <h3 class="titlebar"> ユーザーの皆様</h3>
      <table class="table">
        <body>
          <% @users.each do |user| %>
            <tr>
              <td><%= attachment_image_tag user, :profile_image, size: "50x50", format: "jpeg", fallback: "no_image.jpg" %></td>
              <td><%= user.name %></td>
              <td></td>
              <td></td>
              <td><%= link_to "more", user_path(user) %></td>
            </tr>
          <% end %> 
        </body>
      </table>
      <div class="text-center">
        <%= paginate @users %>
      </div>
  </div>
</div>

