<div class="row">
  <div class="col-xs-3">
    <h3 class="titlebar"> 投稿する</h3>
      <%= render 'tweets/tweet_form', tweet: @tweet %>
    <h3 class="titlebar"> Profile</h3>
      <%= render "users/profile", user: @user %>
  </div>
  <div class="col-xs-9">
    <h3 class="titlebar"> ユーザー検索</h3>
    <div class="search-form">
      <p>下記項目からユーザーを探せます。単独でも検索できますので、ぜひ活用してみましょう！</p>
      <%= form_with(scope: :search, url: users_path, method: :get, local: true) do |f| %>
        <div class="search-field">
          <%= f.label :name, "名前", class:"search-label" %>
          <%= f.text_field :name, value: @search_params[:name], placeholder: "ユーザー名を入力"  %>          
        </div>
        <div class="search-field">
          <%= f.label "年齢", class:"search-label" %>
          <%= f.collection_radio_buttons :age, User.ages, :first, :first do |r| %>
            <%= r.radio_button(checked: r.value == @search_params[:age]) + r.text %>
          <% end %>
        </div>
        <div class="search-field">
          <%= f.label "仕事", class:"search-label" %>
          <%= f.collection_radio_buttons :work, User.works, :first, :first do |r| %>
            <%= r.radio_button(checked: r.value == @search_params[:work]) + r.text %>
          <% end %>
          <%= f.submit "検索", class:"btn btn-info btn-sm" %>
        </div>
      <% end %>
    </div>
    <h3 class="titlebar"> ユーザーの皆様</h3>
      <table class="table">
        <body>
          <% @users.each do |user| %>
            <tr>
              <td><%= attachment_image_tag user, :profile_image, size: "50x50", format: "jpeg", fallback: "no_image.jpg" %></td>
              <td><%= user.name %></td>
              <td></td>
              <td></td>
              <td><%= link_to "more", user_path(user) %></td>
            </tr>
          <% end %> 
        </body>
      </table>
      <div class="text-center">
        <%= paginate @users %>
      </div>
  </div>
</div>

