<!DOCTYPE html>
<html>
  <head>
    <title>Taoyaka</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--Bootstrap CSS読み込みコード-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--Bootstrap JavaScript読み込みコード-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="box">
    <div id="header">
      <%= render "layouts/header" %>
    </div>
    
    <div class="container">
      <!--サクセスメッセージ 、エラーメッセージ-->
      <div class="text-center">
        <% flash.each do |key, value| %>
          <%= content_tag(:p, value, class: "alert alert-#{key}") %>
        <% end %>
      </div>
      <%= yield %>      
    </div>
    
    <div id="footer">
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
